* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://mcdn.wallpapersafari.com/medium/62/76/vLM3wA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header section {
    padding-top: 245px;
    text-align: center; /* faz calculo para si */
    height: calc(160px + 440px);
}

.myPhoto {
    width: 160px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    background-color: black;
    display: flex;
    /* referencia a enimação */
    transition: transform .3s;
    animation: fromTop .9s .4s backwards;
}

section div:hover {
    transform: scale(1.1);
}

section img {
    width: 100%;
    border-radius: 50%;
}