* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 32px;
    text-align: center; /* faz calculo para si */
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    display: flex;
    /* referencia a enimação */
    transition: transform .3s;
    animation: fromTop .9s .4s backwards;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}